# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next
/out
next-env.d.ts

# Debug and environment
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env
.env.*
!.env.example

# Editors and OS
.DS_Store
*.pem
Thumbs.db
